<div th:fragment="navbar">
	<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">

		<a class="navbar-brand" href="#!"> <img
			src="https://via.placeholder.com/30" height="30" alt="logo">
		</a>

		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<!-- Right -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="#!" class="nav-link"> <span
						class="badge badge-pill badge-danger">1</span> <i
						class="fas fa-shopping-cart pl-0"></i>
				</a></li>
				<li class="nav-item"><a href="#!" class="nav-link">
						Shop </a></li>
				<li class="nav-item"><a href="#!" class="nav-link">
						Contact </a></li>
				<li class="nav-item"><a href="#!" class="nav-link">
						Sign in </a></li>
				<li class="nav-item pl-2 mb-2 mb-md-0"><a href="#!"
					type="button"
					class="btn btn-outline-info btn-md btn-rounded btn-navbar">Sign
						up</a></li>
			</ul>

		</div>
		<!-- Links -->

	</nav>
</div>